security:

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        api_login:
            pattern: ^/api/login
            stateless: true
            provider: app_user_provider
            json_login:
                check_path: /api/login
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
                username_path: email
                password_path: password

        api:
            pattern: ^/(api|fight|page)
            stateless: true
            provider: app_user_provider
            jwt: ~

        main:
            lazy: true
            provider: app_user_provider
            stateless: false
            form_login:
                login_path: app_login
                check_path: app_login
                default_target_path: /admin
            logout:
                path: app_logout
                target: /login
            security: true

    access_control:
    - { path: ^/admin, roles: ROLE_ADMIN }
    - { path: ^/api/login, roles: PUBLIC_ACCESS }
    - { path: ^/api/register, roles: PUBLIC_ACCESS }
    - { path: ^/about, roles: PUBLIC_ACCESS }

    # Feedback d'abord (règles spécifiques)
    - { path: ^/api/feedback$, roles: IS_AUTHENTICATED_FULLY, methods: [POST] }
    - { path: ^/api/feedback$, roles: ROLE_ADMIN, methods: [GET] }

    # Puis le catch-all API
    - { path: ^/api, roles:  PUBLIC_ACCESS } #IS_AUTHENTICATED_FULLY

    # Le reste
    - { path: ^/fight, roles: IS_AUTHENTICATED_FULLY }
    - { path: ^/page, roles: IS_AUTHENTICATED_FULLY }
    - { path: ^/login, roles: PUBLIC_ACCESS }

    # ⚠️ Cette règle capte tout le reste — garde-la en tout dernier ou supprime-la si tu n'en as pas l'usage
    - { path: ^/, roles: ROLE_USER }


when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
